:root {
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-white-blue: #F1F5F7;
    --basic-white-gray: #F3F7F9;
    --basic-darkest: #293449;
    --basic-dark: #32425C;
    --basic-red: #EE3643;
    --basic-red-2: #CA2C37;
    --basic-red-3: #BA2732;
    --basic-green: #63A63E;
    --basic-green-2: #5FBB2D;
    --basic-orange: #FFBF47;
    --basic-lightorange: #FFD180;
    --basic-lightblue: #3BBCE3;
    --basic-magenta: #DC91D8;
    --basic-lightgreen: #8ED78F;
    --basic-biege: #F7F3EC;
    --basic-lightbiege: #F9F5F0;
    --basic-gray: #A9A9A9;
    --basic-lightgray: #F1F5F7;
    --basic-extraligthgray: #EAEAEA;
    --basic-dark-light: #405069;
    --basic-middle-gray: #C5C5C5;
}

a {
    text-decoration: none;
}

.page {
    height: 100%;
}

.page-body
{
    font-family: Cuprum, Arial, sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    background-color: var(--basic-lightgray);
}

.h-standard {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.h-highlight {
    color: var(--basic-dark);
}


.header-toolbar {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    background-color: var(--basic-darkest);
}
.header-toolbar a {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}


.header-toolbar-actions{
    justify-self: end;
}

.header-search {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.header-search input {
    background-color: transparent;
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.header-search input:focus {
    outline: none;
}


.header-search input::-webkit-input-placeholder,
.header-search input::-moz-placeholder,
.header-search input:-ms-input-placeholder,
.header-search input::-ms-input-placeholder,
.header-search input::placeholder
{
    color: var(--basic-white);
}


.search-field {
    border-width: 0px;
}


.search-field::placeholder {
    color: var(--basic-white);
}

.search-field:-moz-placeholder {
    color: var(--basic-white);
}

.search-field::-moz-placeholder {
    color: var(--basic-white);
}

.header-search input:focus {
    background-color: var(--basic-white);
    color:var(--basic-black);
}

.header-logo {
    background-color: var(--basic-red);
}

.header-cart {
/* TODO: если не понадобится - удалить */    
}

.header-cart-notEmpty {
    background-color: var(--basic-red);
}

.header-order {
    background-color: var(--basic-green);
}
.header-order:hover {
    background-color: var(--basic-green-2);
}

.header-order:active {
    color: rgba(255, 255, 255, 0.5);
}

.header-middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--basic-lightgray);
}

.header-middle-description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-phone a {
    color: var(--basic-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
}

.header-location {
    color: var(--basic-dark);
    font-size: 14px;
    line-height: 24px;
}

.header-button-username {

}

.header-button {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.header-user {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.header-user:hover {
    color: var(--basic-red);
}

.header-user:active {
    color: var(--basic-middle-gray);
}

.header-user-orders {

}

.header-user-profile {

}


.header-button:hover {
    color:var(--basic-red);
}

.header-button:active {
    color: var(--basic-middle-gray);
}



.header-nav {
    background-color: var(--basic-dark);
}

.header-nav a {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.header-nav a:hover {
    background-color: var(--basic-darkest);
}

.header-nav a:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: var(--basic-darkest);
}

.header-nav li {
    list-style-type: none;
}

.breadcrumbs li {
    list-style-type: none;
}

.offers {
    display: grid;
    padding: 0px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}

.offer-item {
    list-style-type: none;
}

.offer-item p {
    color:var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.offer-item a {
    background-color: rgba(255,255,255,0.3);
    color:var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.offer-item a:hover {
    background-color: rgba(197,197,197,0.3);
}

.offer-item a:active {
    background-color: rgba(169,169,169, 0.3);
}

.offer-item-materials {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: var(--basic-orange);
}

.offer-item-tools {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--basic-lightblue);
}

.offer-item-technics {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--basic-magenta);
}

.offer-item-discounts {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--basic-lightgreen);
}

.offer-item-delivery {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--basic-orange);
}

.offer-main {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    list-style-type: none;
    background-image: url(../img/hammer-drill.jpg);
}

.offer-main p {
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.offer-main span {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.button-primary {
    background-color: var(--basic-red);
    color:var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: var(--basic-red-2);
}

.button-primary:active {
    background-color: var(--basic-red-3);
}

.main-headerstripe {
    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: var(--basic-lightbiege);
}

.main-catalog {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    padding: 0px;
}

.product {
    border: 1px solid var(--basic-extraligthgray);
    list-style-type: none;
}

.product h3 {
    color: var(--basic-black);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}


.product-fullprice {
    color: var(--basic-gray);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-decoration: line-through;
    text-transform: uppercase;
}

.product-actualprice {
    color:var(--basic-white);
    background-color: var(--basic-red);
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.brand{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
    padding: 0px;
}

.brand li {
    border: 1px solid var(--basic-extraligthgray);
    list-style-type: none;   
}

.services {
    background-color: var(--basic-lightgray);
    color: var(--basic-black);
}

.services-description {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.services-tabs {
    padding: 0px;
}


.service-tab {
    width: 240px;
    list-style-type: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color:var(--basic-dark);
    box-shadow: 0px 1px 0px var(--basic-darkest), inset 0px 1px 0px var(--basic-dark-light);
    color: var(--basic-white);
}

.service-tab:hover {
    background-color: var(--basic-darkest);
    color: var(--basic-white);
}

.service-tab-selected {
    background-color:var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white);
    color: var(--basic-dark);
}


.services-details {
    background: url(../img/background-delivery.png) right bottom no-repeat;
}

.company-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.company p {
    color: var(--basic-black);
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.company-delivery li {
    list-style: none; 
    background: url(../img/delivery-marker.svg) no-repeat left 50%; 
    padding-left: 35px;
    font-size: 18px;
    line-height: 24px;
}


.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.footer-upper {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: var(--basic-dark);
}

.footer-nav {
    justify-self: end;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-logo {
    background-color: var(--basic-red);
}

.footer-upper p {
    color: var(--basic-white-gray);
    font-size: 18px;
    line-height: 24px;
}

.footer-upper-phone {
    color: var(--basic-white-gray);
    font-size: 18px;
    line-height: 24px;
}

.footer-nav-pages {
    list-style-type: none;
}

.footer-nav-pages a {
    color: var(--basic-white-blue);
}

.footer-nav-pages a:active {
    color: #F1F5F7;
    opacity: 0.5;
    text-decoration: none;
}

.footer-nav-catalog {
    list-style-type: none;
}

.footer-nav-catalog a {
    color: var(--basic-lightorange);
}

.footer-nav-catalog a:active {
    color: #FFD180;
    opacity: 0.5;
    text-decoration: none;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    background-color: var(--basic-darkest);
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
}


.footer-contacts a {
    color: var(--basic-lightorange);
}

.footer-contacts a:hover {
    color: var(--basic-lightorange);
    text-decoration: underline;
}

.social{
    justify-self: center;
}

.social a {
    background-color: linear-gradient(0deg, #212A3A, #212A3A);
}

.social a:hover {
    background: var(--basic-red);
}

.social li {
    list-style-type: none;
}


.catalog-filter {
    font-family: "PT Sans", Arial, sans-serif;
}

.catalog-filter fieldset {
    border: 0px;
    border-bottom: 1px var(--basic-lightgray) solid;
}

.catalog-filter fieldset p {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.catalog-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: var(--basic-lightgray);
}

.catalog-caption {
    background-color: var(--basic-biege);
    font-size: 13px;
    line-height: 18px;    
    text-transform: uppercase;
}


.catalog-filter input[type=range],
.catalog-filter input[type=number]
 {
    background-color: var(--basic-biege);
    text-align: center;
    border-width: 0px;
}

.catalog-filter label {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-filter button {
    background-color: var(--basic-white);
    border: 1px var(--basic-extraligthgray) solid;
    font-size: 13px;
    line-height: 18px;
}


.catalog-ordering
{
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-biege);
    text-transform: uppercase;
}

.catalog-orderby {
    border-bottom: 1px var(--basic-red) dotted;
    color: var(--basic-gray);
}

.catalog-orderby:hover {
    border-bottom: 1px var(--basic-red) solid;
    color: var(--basic-black);
}

.catalog-orderby-selected {
    color: var(--basic-red);
    border-bottom-width: 0px;
}

.catalog-list {
    font-family: "PT Sans", Arial, sans-serif;
}

.catalog-list li {
    list-style-type: none;
}

.catalog-products {

}

.catalog-about {
    background-color: var(--basic-lightgray);
}

.catalog-about p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.pageslist {

}

.pageslist-pagenumber {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px var(--basic-extraligthgray) solid;
}

.pageslist-pagenumber:hover {
    border: 1px var(--basic-middle-gray) solid;
}

.pageslist-pagenumber:active {
    border: 1px var(--basic-red) solid;
}

.pageslist-pagenumber-selected {
    background-color: var(--basic-red);
    color: var(--basic-white);
}